<head>
<meta charset="utf-8">
<meta name="generator" content="{{ eleventy.generator }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/static/img/favicon/favicon.ico" />

<meta name="view-transition" content="same-origin">

<title>{{ title or metadata.title }} - {{ metadata.title }}</title>
<link rel="canonical" href="https://aflocations.com.au{{ page.url or post.url or permalink }}" />
<meta name="description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="og:title" content="{{ title or metadata.title }}" />
<meta property="og:description" content="{{ description or metadata.description or eleventyComputed.description }}" />
<meta property="article:published_time" content="{{ page.datecreated or datecreated }}" />
<meta property="article:modified_time" content="{{ page.date }}" />
<meta property="og:image" content="{{ image or metadata.image or eleventyComputed.image }}" />
<meta property="og:url" content="https://aflocations.com.au{{ page.url or post.url or permalink }}" />


{% set css %}
    {% include "assets/css/aflocations-grid.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
<link rel="preload" href="https://webtactics.b-cdn.net/fonts/encode-sans-condensed-v10-latin-regular.woff2" as="font" type="font/woff2" crossorigin> 
</head>
