<header id="header" class="topbar headerwrapper">
<div class="hamburger"><div class="toggle-nav" aria-label="Toggle Navigation">
<span class="hamburger-icon" title="Australian Film Locations Mobile Menu" alt="Australian Film Locations Mobile Menu"></span>
</div></div>
<div class="logo"><a href="/" title="Return to the homepage | Australian Film Locations" alt="Return to the homepage | Australian Film Locations" id="logo">
<img src="/static/img/aflocations-logo-330x118.png" alt="Australian Film Locations" title="Australian Film Locations" width="330px" height="auto" loading="lazy" class="logoimg" />
 </a></div>
<div class="navwrapper">
{% include "components/nav-top.njk" %}
</div>
</header>