<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/aflocations/hero/hero/about-1_AnTK5JJ-j.jpg?updatedAt=1776897622187);"></div>
    <div class="dot-overlay"></div>
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/aflocations/hero/hero/about-2_46A4AV8H2.jpg?updatedAt=1776897622827);"></div>
    <div class="dot-overlay"></div>
  </div>


</div>

<div class="flex-caption centre">
      <h1>{{ title}}</h1>
      <div class="flextext">{{ content | safe }}</div>
    </div>


</section>
