<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/aflocations/hero/hero/services-1_LA7YgKgh2K.jpg?updatedAt=1776897623866);"></div>
    <div class="dot-overlay"></div>
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/aflocations/hero/hero/services-2_HfdCEv4jak.jpg?updatedAt=1776897623151);"></div>
    <div class="dot-overlay"></div>
  </div>

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(https://ik.imagekit.io/webtactics/aflocations/hero/hero/services-3.jpg?updatedAt=1776897909297);"></div>
    <div class="dot-overlay"></div>
  </div>


</div>

<div class="flex-caption centre">
      <h1>{{ title}}</h1>
      <div class="flextext">{{ content | safe }}</div>
    </div>


</section>
