<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

{% include "components/head.njk" %}

{% block header %}
<body class="internal {{ class }} " >
{% include "components/header.njk" %}
{% include "components/off-canvas.njk" %}
{% endblock %}
  {% block hero %}




<section class="sliderbox hide-for-print">
<div class="home-slide hide-for-print">

  <div class="slide-wrap">
    <div class="internalhero" style="background-image: url(static/img/hero/home-1.jpg);"></div>
    <div class="dot-overlay"></div>
     <div class="flex-caption centre">
      <h1>{{ title}}</h1>
      <div class="flextext"><p>{{ content | safe }}</p></div>
    </div>
  </div>

  



</div>
</section>





  {% endblock %}





{% include "components/javascript.njk" %}

</body>
</html>
